
{% extends "accounts_app-master.html" %}
{% load static %}
{% load compress %}

{% block title %}Chatfolio - Forgot Password{% endblock %}
{% block load-static-files %}{% endblock %}

<!-- Καλεί αυτά τα blocks για να μην κληρονομήσει το default περιεχόμενο του master.html -->
{% block popup-credentials %}{% endblock %}
{% block popup-errors %}{% endblock %}
{% block lazy-load %}{% endblock %}

<!-- Δεν καλεί τα header, noscript blocks για να κληρονομήσει το default περιεχόμενο του master.html -->

{% block container-column-1 %}{% endblock %}
{% block container-column-2 %}{% endblock %}
{% block container-column-3 %}{% endblock %}

<!-- Δεν καλεί το footer block για να κληρονομήσει το default περιεχόμενο του master.html -->