
body {
    background-color: var(--black);
    color: var(--orange);
    font-family: Arial;
    text-align: center;
    font-size: var(--large-text);
}

#lottie-animation {
    max-width:45%; height:auto; /* Responsive Image */
    display:block; margin: 0 auto;
}

#hidden-404-text {
    margin-top: 2%;
    opacity: 0; visibility: hidden;
}

#link-homepage{
    color: var(--orange);
}

.text {
    margin-top: 0.5%;
}