
:root{
    --black:black;
    --orange:#ff5733;

    --radius: 15px;
    --normal-text: 18px;
}

#popup-no-js {
    display: block; opacity: 1;
    position: fixed; left: 50%; top: 50%;
    display: flex; justify-content: center; align-items: center;
    z-index: 9999; /* Θέλω το popup θα αιωρείται πάνω από κάθε στοιχείο της σελίδας */
    width: 100%; height: 100%; /* Θέλω το popup να καταλαμβάνει ολόκληρη την οθόνη */
    
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--black); color: var(--orange); border: none;
    text-align: center; font-size: var(--normal-text);
    animation: popupDissapear 10s forwards;
}

/*
    Θέλω το popup να εξαφανίζεται μετά από 10s.
    Αυτό γίνεται πολύ εύκολα με JavaScript αλλά όταν εμφανιστεί το popup αυτή θα είναι απενεργοποιημένη.
    Λύση: Χρησιμοποιώ τα CSS @keyframes για να τρέξω μικρά animations χωρίς JavaScript
*/
@keyframes popupDissapear {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        display: none;
    }
}