
/* Κανόνες για να φαίνεται όλο το περιεχόμενο εντός της οθόνης χωρίς αυτή να κάνει scroll
     1)  html, body { height: 100%; }
         Το ύψος του html και του body θα είναι ακριβώς 100% του viewport

     2)  body { min-height: 100vh; }
         Το body θα είναι τουλάχιστον όσο το ύψος του παραθύρου
         ή καλύτερα:
         min-height: calc(var(--vh, 1vh) * 100);
         όπου --vh υπολογίζεται σε real time μέσω JavaScript για κάθε οθόνη

     3) * { margin: 0; padding: 0; }
        Αφαιρεί όλα τα default margin/padding για να μην υπάρχει περιττό scroll

     4) body { display: flex; flex-direction: column; }
        Όλα τα html elements θα στοιχίζονται κάθετα

   Προσοχή: Όλα αυτά είναι κάποια ΝΟΕΡΑ όρια.
            Το συνολικό ύψος μπορεί να υπερβεί το 100vh και να γίνει scroll αν:
              α) το περιεχόμενο είναι πολύ μεγάλο και υπερβαίνει το ύψος της οθόνης
              β) υπάρχουν μεγάλα margins/paddings
              γ) υπάρχει μεγάλη γραμματοσειρά
              δ) ένα html element (πχ φωτογραφία) έχει width: ...px το οποίο είναι μεγαλύτερο
                 από το μήκος του column στο οποίο ανήκει, αντί να έχει πχ max-width: 100%
                 ώστε να έχει μήκος μικρότερο ίσο από το column στο οποίο ανήκει.
*/

/* CSS Styles for every class */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/  /* for testing για να δω ποιό στοιχείο σκρολάρει στην οθόνη */
}

html, body {
  height: 100%;
}

body {
  display: flex; flex-direction: column;
  /* Το ελάχιστο ύψος του body (δηλ όλου του html) θα είναι ίσο με το 100%
      του ύψους του ορατού παραθύρου (δηλ του viewport). Συνεπώς, το footer
      θα εμφανίζεται πάντα στο κάτω μέρος της σελίδας ακόμη κι αν τα
      περιεχέμενα της σελίδας δεν είναι αρκετά για να φτάσουν μέχρι κάτω.

      ΣΟΣ: για να είναι responsive δε βάζω "min-height: 100vh;" αλλά το παρακάτω
          όπου στη CSS μεταβλητή --vh υπολόγιστηκε μέσω της JavaScript
          το πραγματικό ύψος της οθόνης */
  min-height: calc(var(--vh, 1vh) * 100);

  background:var(--black); color:var(--orange);
  font-family: Arial; text-align:center; font-weight:bold; font-size:var(--normal-text);
}