
/* -------------------------------------------------------------------------------------------- */
:root{
    --black:black;
    --white:white;
    --orange:#ff5733;
    --red:#ff0000;
    --muted:rgba(138, 131, 131, 0.3);

    --radius: 15px;
    --large-text: 22px;
    --normal-text: 18px;
    --small-text: 15px;
}

header {
    width: 100%;
    padding: 5px 0px 0px 0px;
    /*background-color: blue; /* for testing */
}
header a {
    text-align: center; color:var(--orange); text-decoration: none;
    /*background-color: blue; /* for testing */
}

#links-container {
  /* flex το ένα δίπλα από το άλλο */
  display:flex; gap:30px; justify-content:center; align-items:center; text-align: center;
  padding:3% 0% 1% 0%;
  border:0px;
}

.link{
  font-size:var(--normal-text); text-decoration:none; color:var(--orange);
  display: block; text-align: center;
  margin-bottom:1%;
}

.link:hover{
  text-decoration:underline;
}

footer {
    width: 100%;
    /*background-color: blue; /* for testing */
    padding: 0px 0px 5px 0px;
    display: flex; flex-direction: column; align-items: center;
    font-weight: normal; font-size:var(--small-text);
}

.footer-copyright {
    margin-bottom: 5px;
    text-align: center; /* for responsive */
}

.footer-links {
    display: flex; gap: 20px; flex-wrap: wrap; justify-content: center;
}
        
.footer-links a {
    color:var(--orange);
    text-decoration: none;
    transition: color 0.3s;
}
.footer-links a:hover {
    color: white;
}
/* -------------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------------------------- */
#container {
    /* flex:1  Έτσι το container να "μεγαλώνει" αν πάω σε οθόνη με πιο μεγάλο πλάτος
               παίρνωντας όλο τον κενό χώρο ανάμεσα στο header και στο footer
               δηλ. γεμίζει τον υπόλοιπο χώρο μεταξύ header και footer */
    flex: 1; display:flex; justify-content: center; align-items: center; text-align: center;
}

#container-column-1, #container-column-2, #container-column-3 {
  flex: 1; /* μοιράζονται τον κενό χώρο ισότιμα */
}
#container-column-1 , #container-column-3 {
    flex: 0 0 20%;
    /*background-color: blue; /* for testing */
}
#container-column-2 {
    flex: 0 0 60%;
    /*background-color: white; /* for testing */
    /*border:3px solid var(--orange); border-radius:var(--radius); for testing */
    text-align:center;
}
/* -------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------- */
#terms-conditions{
  text-align:center; font-weight:bold;
  font-size:var(--large-text);
  margin: 1em;
}
.greet-text-container{
    padding: 0px;
}
.greet-text-top{
  padding: 0px 0px 0.5em 0px; 
}
.greet-text-bottom{
  padding: 0px 0px 0.5em 0px; 
}

#astronaut-container{
    /* flex το ένα κάτω από το άλλο */
    display: flex; flex-direction: column; align-items: center;
    padding: 0px;
    border:0px;
}
#lottie-astronaut{
    max-width:60%; height:auto; /* Responsive Image */
}

.go {
  width: 100px; height: 100px;
  text-align: center; font-weight: bold; font-size:var(--normal-text); text-decoration:none;
  border-radius: 50%;
  cursor:pointer;
  background-color:var(--orange); color:var(--white); border-width:0px;
  display:inline-block; /* για να μην απλωθεί σε όλο το πλάτος του column */
  position:relative;
  z-index: 1;
}

.go:after {
    content:'';
    position:absolute;
    top:50%; left:50%; width:100%; height:100%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    background-color:var(--orange); color:var(--white); border-width:0px;
    animation: pulse 3s infinite; /* Εκκίνηση του animation "pulse" */
    z-index: -1;
}

#buttons-container{
  /* flex το ένα δίπλα από το άλλο */
  display:flex; gap:40px; justify-content:center; align-items:center; text-align: center;
  padding: 10px 0px 0px 0px;
}

/* Με τα @keyframes μπορώ να φτιάξω animations χωρίς javascript */
@keyframes pulse {
    0% { /* Στο t=0 θα περιμένει */
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
    50% { /* Στο t=duration/2 θα μεγαλώσει το κυκλάκι */
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
    100% { /* Στο t=duration θα επαναφέρει το κυκλάκι στο αρχικό του μέγεθος */
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}
/* -------------------------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------------------------- */
#email-container , #password-container , #confirm-container {
  display: flex; flex-direction: column; justify-content: space-between; height: 100%;
  width:100%;
  margin-bottom: 5px;
}

#password-textfield-container , #confirm-textfield-container {
  position:relative;
  width:100%;
}
#country-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.country-options-container {
  position: absolute;
  width: 90%;
  top: 100%; left: 5%; right: 0;
  border: 1px solid var(--white); background: var(--white);
  max-height: 300px; overflow-y: auto; /* περιορίζει το ύψος και κάνει scroll */
  display: none; /* αρχικά η λίστα είναι κρυφή μέχρι να την ανοίξει ο χρήστης */
  z-index: 1000;
}

.country-option {
  /* βάζω το ένα δίπλα στο άλλο */
  display:flex; gap:20px; align-items:center; text-align: center;
  padding: 8px; height: 50px;
  /*margin: 20px;  for testing Event Delegation */
  cursor: pointer;
}

.country-option:hover {
  background: var(--black);
}

#password-textfield , #confirm-textfield , #email-textfield , #country-select {
  width:90%; margin:1% 5% 1% 5%;
  border-radius:10px; border:3px solid var(--black); outline: none;
  background-color:var(--white);
  padding: 10px 0px 10px 10px;
  font-size:var(--normal-text);
  cursor: pointer;
}
#country-select {
  height: 50px;
  border-radius:10px; border:1px solid var(--orange); background-color: var(--black); outline: none;
  /* βάζω το ένα δίπλα στο άλλο */
  display:flex; gap:15px; justify-content:center; align-items:center; text-align: center;
}
#password-textfield:focus , #confirm-textfield:focus , #email-textfield:focus , #country-select:focus {
  border:3px solid var(--orange);
  box-shadow:0 4px 12px var(--orange);
}
#country-select:hover {
  border:1px solid var(--black); background-color: var(--orange); color: var(--black);
}

#lamb {
  position:absolute; top:50%; right:10%;
  transform: translateY(-50%);
  background:none; border:none; cursor:pointer;
  font-size: 19px;

  display:none; opacity:1; /* Γενικά, η λάμπα θα είναι αόρατη και θα εμφανίζεται μόνο σε μικρές οθόνες (smartphones) */
  transition: opacity 0.3s ease;
}
.labels{
  width:80%; margin:2% 10% 0% 10%;
}

.errorlist , .non-field-errors , #email-error-area , #login-error-area , #password-error-area , #confirm-error-area {
  font-size:var(--small-text);
  color:var(--red);
  /*background-color:var(--white); /* for testing */
  opacity: 1;
  height: 25px;
  width:90%; margin:0% 5% 0% 5%;
  display:flex; justify-content:center; align-items:center; text-align: center;
}

/* Φόντο που θολώνει τη σελίδα (προαιρετικό) */
#lazy-load {
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: var(--muted);
  z-index: 9999; /* μικρότερο από το login-spinner και μεγαλύτερο από το υπόλοιπο html */
  display: none; /* Αρχικά το spinner είναι αόρατο και μόλις πατηθεί το login button θα το εμφανίσω */
}

/* Κεντράρω τον login-spinner και το βάζω να αιωρείται πάνω από όλο το html στο κέντρο της οθόνης */
#lazy-load-container {
  position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000;
}
.lazy-load-element {
  border: 20px solid var(--orange); border-radius: 50%;
  border-top: 20px solid var(--black); border-bottom: 20px solid var(--black); 
  
  width: 200px; height: 200px;
  animation: startLazyLoad 1.5s linear infinite;
}
@keyframes startLazyLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#passwordStrongBar {
  height:25px;
  width:90%; margin:2% 5% 0% 5%;
  /*background-color:var(--white); for testing */
  border-radius:15px;
  opacity:1;
}

#show-password-container{
  /* flex το ένα δίπλα από το άλλο */
  display:flex; gap:10px; justify-content:center; align-items:center; text-align: center;
  width:90%; margin:0px 5% 10px 5%;
  
  /*display:block;  Γενικά, το checkbox θα είναι ορατό και θα εμφανίζεται μόνο σε μεγάλες οθόνες (tablets και laptops) */
}

#login-container , #register-container{
  display: flex; flex-direction: column; justify-content: space-between; height: 100%;
  width:100%;
  margin-top: 0.7em;
}

#login-submit , #register-submit{
  max-width:70%; margin:0% 15% 0% 15%;
  padding:10px; border-radius:10px; cursor:pointer;
  border:3px solid var(--orange); background:var(--black); color:var(--orange);
  font-size:var(--large-text); font-weight: bold;
  white-space: nowrap;
}

#login-submit:hover , #register-submit:hover{
  border:3px solid var(--black); background:var(--orange); color:var(--black);
}
/* -------------------------------------------------------------------------------------------- */




/*
  --------------------------------------------------------------------------------------------
  popup για απομνημόνευση των credentials
  Γενικά, όλα τα popups θέλω να είναι αρχικά αόρατα και να μην αλληλεπιδρούν με τον χρήστη
      display:none ή vivibility:invisible  -->  Σωστό
      opacity:0  -->  Λάθος
   --------------------------------------------------------------------------------------------
*/
#popup-credentials-container {
    background-color: var(--black); border: 3px solid var(--orange); box-shadow: 0 4px 8px var(--black); color: var(--orange);
    position: fixed; top: 0%; right: 10%; width: 15em; height: 7em; padding: 0.5em;
    font-size: var(--normal-text); text-align: center;
    border-radius: 8px;

    display: none; z-index: 10000; opacity: 0; 
    transition: opacity 1s ease-in-out;
}

#popup-buttons-container {
    /* το ένα δίπλα στο άλλο */
    display: flex; justify-content: center; align-items: center; gap: 1.3em;
}

.popup-buttons {
    background-color: var(--black); border: 1px solid var(--orange); box-shadow: 0 4px 8px var(--black); color: var(--orange);
    margin-top: 0.7em; padding: 10px;
    border-radius: 4px; cursor: pointer;
    font-weight:bold;
}

.popup-buttons:hover {
    background-color: var(--orange); border: 1px solid var(--orange); color: var(--black);
}

#popup-errors-container {
  display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000;
  width: 350px; height: 100px;
  font-size: var(--normal-text); text-align: center; border-radius: 8px;
}

#popup-errors-content {
  background-color: var(--black); border: 2px solid var(--red); color: var(--red);
  display: flex; flex-direction: column; justify-content: space-between; align-items: center;
  width: 100%; padding: 10px;
  overflow-wrap: break-word; overflow-y: auto;
}
#errors-text{
  margin: 0px 0px 10px 0px;
}

/* Κουμπί κλεισίματος */
#error-close-button {
  padding: 8px; margin: 5px; 
  background-color: var(--black); border: 2px solid var(--red); color: var(--red);
  font-size: var(--normal-text); font-weight: bold; cursor: pointer; border-radius: 8px;
}
#error-close-button:hover {
  background-color: var(--red); border: 2px solid var(--red); color: var(--black);
}

.hidden-tags {
    /*
    ΠΡΟΣΟΧΗ:
      Λύση 1:  display:none  ->  display:block
               Μόλις η JavaScript εμφανίσει τα στοιχεία με class="hidden-tags",
               τότε ο αστροναύτης θα γλιστρήσει απότομα γιατί θα προστεθεί απότομα
               ένα καινούργιο στοιχείο στο DOM.
               Δηλ. θα έχουμε κακό User Experience
      Λύση 2:  opacity:0  ->  opacity:1
               Τα στοιχεία θα είναι αρχικά αόρατα αλλά αν κάποιος προλάβει και κάνει
               κλικ στο χώρο του id="go-login" ή του id="go-register"
               αυτά αν και αόρατα θα αλληλεπιδρούν με τον χρήστη και θα παράγουν events.
               Δηλ. ο χρήστης θα μεταφερθεί παραδόξως στη σελίδα login.html ή register.html
               Δηλ. θα έχουμε κακό User Experience
      Λύση 3:  visibility:hidden  -->  visibility:visible
               Τα στοιχεία θα καταλαμβάνουν χώρο στο DOM αλλά θα είναι αόρατα.
               Δηλ. όταν εμφανιστεί ο αστροναύτης δεν θα τα σπρώξει απότομα.
               Επίσης, όσο θα είναι αόρατα δε θα αλληλεπιδρούν με τον χρήστη και δε θα παράγουν events.
               Δηλ. θα έχουμε καλό User Experience
               
      Συμπερασματικά:
              CSS Property        Ορατότητα     Χώρο στο DOM      Interactive
                opacity: 0           Όχι            Ναι               Ναι
            visibility: hidden       Όχι            Ναι               Όχι
              display: none          Όχι            Όχι               Όχι
    */
    visibility: hidden;

    /* Για να εμφανιστεί πιο γλυκά βάζω συνδυασμό visibility με opacity transition */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#socials-container{
  /* flex το ένα δίπλα από το άλλο */
  display:flex; justify-content:center; align-items:center; text-align: center; gap:20px;
  width:90%; margin:0% 5% 1% 5%;

  visibility: hidden;

  /* Για να εμφανιστεί πιο γλυκά βάζω συνδυασμό visibility με opacity transition */
  opacity: 0;
  transition: opacity 1s ease-in-out;  
}
.social-element{
  display: inline-flex; align-items: center; justify-content: center;
  background-color:var(--black); border: none; border-radius: 50%; cursor: pointer;
  transition: transform 0.5s ease;
  width:70px; height:70px;
  text-decoration: none;
}
.social-element:hover {
  transform: scale(1.2);
}
.social-image {
  display: block; max-width: 80%; height: auto;
  border-radius: 50%; object-fit: cover;
}
/* -------------------------------------------------------------------------------------------- */




/*
  ---------------------------------------------------------------------------------------------
  Responsive
  ---------------------------------------------------------------------------------------------
*/
/* Για οθόνες μικρότερες από 800px (Tablets) */
@media only screen and (max-width: 800px) {
  body {
    /*background-color: lightcyan; /* for testing */
  }
  
  .social-image {
    width: 70%; height: 70%;
  }
  .social-element{
    width: 60px; height: 60px;
  }
  .social-element:hover {
    transform: scale(1.2);
  }
  #socials-container{
    gap:5px;
  }

  .go {
    width: 80px; height: 80px;
    font-size:var(--normal-text);
  }
  #buttons-container{
    gap:20px;
  }
  
  #container-column-1 , #container-column-3 {
    flex: 0 0 5%;
  }
  #container-column-2 {
    flex: 0 0 90%;
  }

  .link{
    font-size:var(--small-text);
  }

  .country-options-container {
    width: 140%;
    left: -18%; right: 0%;
  }
}

/* Για οθόνες μικρότερες από 600px (Smartphones) */
@media only screen and (max-width: 600px) {
  body {
    /*background-color: lightgreen; /* for testing */
  }
  
  #popup-credentials-container {
      top: 0%; left: 50%;
      transform: translateX(-50%);
  }

  /*
    Σε μεγάλες οθόνες (laptops και tablets) κρύβω τη λάμπα και εμφανίζω το chechbox.
    Σε μικρές οθόνες (smartphones) κρύβω το checkbox και εμφανίζω τη λάμπα.
    Μάλιστα, κρύβω/εμφανίζω όλο το container που περιέχει το checkbox γιατί
    αν το κάνω μόνο για το checkbox θα μείνουν κάποια paddings, margins κλπ
    και μπορεί να φανεί ένας άσχημος κενός χώρος. 
  */
  #lamb {
    display:block;
  }
  #show-password-container{
    display:none;
  }
}