
#profile-container {
    width: 20%;
    border: 1px solid #ccc; /* for testing */
    border-radius: 8px;
    margin:0.5%; padding: 0.5%;
}

#profile-photo {
    width: 100px; height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1%;
}

#profile-email , #profile-country {
    margin-bottom: 1%;
    max-width: 100%;
    font-weight: normal; font-size: var(--small-text);
}

#logout-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--small-text);
    color: var(--orange);
}